* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, black, #070707, #302e2e, #4e4c4c);
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.contenedor {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
    min-height: calc(100vh - 80px); 
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.title {
    color: white;
    flex-grow: 1;
    margin-right: 20px;
    max-width: 50%;
}
.contenedor p{
    margin-top: 10px;
    font-size: 20px;
}
.umg {
    padding: 10px;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    object-fit: contain;
}

#title {
    width: 100%;
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.split {
    width: 400px;
    height: auto;
}

nav {
    background-color: black;
    border: 25px;
    height: 80px;
    width: 100%;
    font-color: #fff;
    display: flex;
    display: flex;
    position: fixed; 
    top: 0; 
    z-index: 1000;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    display: flex;
}

nav ul {
    float: right;
    margin-right: 0px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,
a:hover {
    background: rgb(107, 105, 107);
    transition: .5s;
}

.descripcion {
    color: white;
    height: 200px;
    width: 100%;
    font color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8%;
    min-height: calc(100vh - 80px); 
}

#subtitle {
    padding: 80px;
    color: white;
    font-size: 50px;
    flex-grow: 1;
    margin-right: 20px;
}

.descripcion p{
    font-size: 20px;
}

.line {
    background-color: white;
    width: 92%;
    height: 4px;
    border-radius: 2px;
    margin: 4%;
}

.gif {
    height: 200px;
    width: auto;
    margin-right: 0px;
}

.sub2 {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20%;
}


.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
}



.typewriter {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 0.5s steps(40, end);
}



@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.sh{
    position: relative;
    font-family: sans-serif;
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, #000, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 3s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
      
      @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
      }

.Objetivos{
    color: white;
} 
      
.Objetivos ul {
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px ;
    padding: 20px;
    list-style-type: none;
}

.Objetivos ul li {
    margin-bottom: 30px;
}

.Objetivos ul li h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Objetivos ul li p {
    font-size: 18px;
    line-height: 1.5;
}
.Objetivos h3{
    margin-top: 20px;
    margin-left: 250px;
}

.Objetivos h4{
    margin-top: 20px;
    margin-left: 250px;    
}

.Objetivos p{
    margin-top: 20px;
    margin-right: 250px;
    margin-left: 250px;
}
 
.content{
    margin-top: 10%;
}

.content img{
    margin-left: 250px;
}
 
.alan{
  
    margin-top: 2%;
    height: 400px;
    border-color: aqua;
    border: 5px;
    border-radius: 10px;
}